
	#container
	{
		width: 90%;
		margin-left: auto;
		margin-right: auto;
		border-radius: 16px;
	}
	#con
	{
		margin-left: auto;
		margin-right: auto;
		border-radius: 16px;
	}
	#logo
	{
		background-color: orange;
		color: white;
		text-align: center;
		padding: 5px;
		margin-bottom: 10px;
		border-radius: 16px;
	}
	#nav
	{
		float: left;
		font-size: 15px;
		background-color: lightgray;
		width: 170px;
		padding: 10px;
		margin-bottom: 10px;
		border-radius: 16px;
	}
	#content
	{
		white-space:pre;
		margin-left: 170px;
		margin-right: 170px;
		text-align: center;
		padding: 10px;
		margin-bottom: 10px;
		border-radius: 16px;
	}
	#news
	{
		float: right;
		background-color: silver;
		width: 130px;
		margin-bottom: 10px;
		padding: 10px;
		border-radius: 16px;
	}
	#link
	{
		background-color: orange;
		font-family: Comic Sans MS;
		text-align: center;
		border-radius: 16px;
		padding: 5px;
	}
	#link:hover
	{
		background-color: #FFCC33;
		text-align: center;
		border-radius: 16px;
		padding: 5px;
	}
	#link:active
	{
		background-color: #FF6600;
		text-align: center;
		border-radius: 16px;
		padding: 5px;
	}
	#footer
	{
		
		margin-top: 100px;
		clear: both;
		background-color: orange;
		color: white;
		text-align: center;
		border-radius: 16px;
		font-size: 15px;
		padding: 5px;
	}
	.button{text-decoration:none; text-align:center; 
 padding:11px 32px; 
 border:solid 1px #004F72; 
 -webkit-border-radius:4px;
 -moz-border-radius:4px; 
 border-radius: 4px; 
 font:10px Arial, Helvetica, sans-serif; 
 font-weight:bold; 
 color:#E5FFFF; 
 background-color:#3BA4C7; 
 background-image: -moz-linear-gradient(top, #3BA4C7 0%, #1982A5 100%); 
 background-image: -webkit-linear-gradient(top, #3BA4C7 0%, #1982A5 100%); 
 background-image: -o-linear-gradient(top, #3BA4C7 0%, #1982A5 100%); 
 background-image: -ms-linear-gradient(top, #3BA4C7 0% ,#1982A5 100%); 
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1982A5', endColorstr='#1982A5',GradientType=0 ); 
 background-image: linear-gradient(top, #3BA4C7 0% ,#1982A5 100%);   
 -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
 -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
 box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
  
  }.button:hover{
 padding:11px 32px; 
 border:solid 1px #c2b9d9; 
 -webkit-border-radius:4px;
 -moz-border-radius:4px; 
 border-radius: 4px; 
 font:10px Arial, Helvetica, sans-serif; 
 font-weight:bold; 
 color:#E5FFFF; 
 background-color:#3BA4C7; 
 background-image: -moz-linear-gradient(top, #3BA4C7 0%, #e1e6e8 100%); 
 background-image: -webkit-linear-gradient(top, #3BA4C7 0%, #e1e6e8 100%); 
 background-image: -o-linear-gradient(top, #3BA4C7 0%, #e1e6e8 100%); 
 background-image: -ms-linear-gradient(top, #3BA4C7 0% ,#e1e6e8 100%); 
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1e6e8', endColorstr='#e1e6e8',GradientType=0 ); 
 background-image: linear-gradient(top, #3BA4C7 0% ,#e1e6e8 100%);   
 -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
 -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
 box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
  
 }.button:active{
 padding:11px 32px; 
 border:solid 1px #005072; 
 -webkit-border-radius:4px;
 -moz-border-radius:4px; 
 border-radius: 4px; 
 font:10px Arial, Helvetica, sans-serif; 
 font-weight:bold; 
 color:#E5FFFF; 
 background-color:#d3e5eb; 
 background-image: -moz-linear-gradient(top, #d3e5eb 0%, #1982a5 100%); 
 background-image: -webkit-linear-gradient(top, #d3e5eb 0%, #1982a5 100%); 
 background-image: -o-linear-gradient(top, #d3e5eb 0%, #1982a5 100%); 
 background-image: -ms-linear-gradient(top, #d3e5eb 0% ,#1982a5 100%); 
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1982a5', endColorstr='#1982a5',GradientType=0 ); 
 background-image: linear-gradient(top, #d3e5eb 0% ,#1982a5 100%);   
 -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
 -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
 box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
  
 }
 
 
 .tekst{
 text-decoration:none; 
 text-align:center; 
 padding:11px 32px; 
 border:solid 1px #ffffff; 
 -webkit-border-radius:4px;
 -moz-border-radius:4px; 
 border-radius: 4px; 
 font:10px Arial, Helvetica, sans-serif; 
 font-weight:bold; 
 color:#010d0d; 
 background:#ffffff; 
 -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
 -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
 box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
  
  }
	
	
